@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.BookCarousel {
  color: #fff;
  overflow: hidden;
  margin: 25px 0;
}
.BookCarousel-title {
  font-weight: bold;
  color: #000;
  font-size: 1.5rem;
}
.BookCarousel .BookCarousel-slide {
  display: flex !important;
  border-radius: 20px;
  padding: 20px;
  margin: 5px 0;
  min-height: 250px;
  box-shadow: 100px 12px 57px -14px #e4e4e2;
}

.BookCarousel-slide .BookCarousel-slide-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 50%;
  margin: 0 15px;
}
.BookCarousel-slide .BookCarousel-slide-cover {
  margin-right: 20px;
  width: 9rem;
  height: 14rem;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.BookCarousel .BookCarousel-slide-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.BookCarousel .BookCarousel-slide-author {
  font-size: 0.9rem;
}
.BookCarousel-rating {
  display: flex;
}
.BookCarousel .slick-slide {
  padding: 0 15px;
}
.BookCarousel .slick-list {
  margin: 0 -100px;
}
.BookCarousel-badge {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}

@media only screen and (max-width:600px){
  .BookCarousel .BookCarousel-slide {
    margin: 5px 20%;
  }
  .BookCarousel-slide .BookCarousel-slide-info {
    margin: 0;
  }
  .BookCarousel .widget-svg{
    width: 16px !important;
    height: 16px !important;
    
  }
  .BookCarousel .star-container{
    padding-left:2px !important;
    padding-right: 2px !important;
  }
} 
@media only screen and (max-width:1200px){
 
  .BookCarousel-slide .BookCarousel-slide-info {
    margin: 0;
  }
  .BookCarousel .widget-svg{
    width: 16px !important;
    height: 16px !important;
    
  }
  .BookCarousel .star-container{
    padding-left:2px !important;
    padding-right: 2px !important;
  }
} 
