img {
  max-width: 100%;
}
.avatar {
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
}
a{
  text-decoration: none !important;
  color:black !important;

}
a:hover{
  text-decoration: none !important;
  color:black;

}
.pagination{
  justify-content: center;
}