.NavBar {
  padding: 0 !important;
  border-bottom: 1px solid #f9f7f7;
}
.NavBar .NavBar-search {
  border: none;
  outline: none;
}
.NavBar .NavBar-search:focus {
  border-bottom: 1px solid #eee;
  box-shadow: none;
}
.NavBar .NavBar-search:focus::placeholder {
  color: #bababa;
}
.NavBar .NavBar-search::placeholder {
  color: #bbb;
}
.NavBar .NavBar-logo {
  width: 35px;
  height: 35px;
}
.NavBar-profile-link{
  display: flex;
  padding:.25rem 1.5rem
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #eee;
}
.Navbar-signup{
  margin-top:5px;
  margin-bottom: 5px;
}
.dropdown-item{
  padding:0 !important;
}
.Facebook-login{
  color: #3b5998;
    font-size: 2rem;
    cursor: pointer;

}
.Google-login{
  color: #dd4b39  ;
    font-size: 2rem;
   cursor: pointer;
}
.modal-body{
  display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;

}

@media only screen and(max-width:600px){
  .navbar-brand,.avatar,.NavBar-logo{
    margin-left: 1rem;
  }
  ul.nav{
    margin-left: 1rem;
  }
}
@media only screen and(max-width:767px){
    .navbar-collapse{
    order: 1;
  }
}

